<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>注册HR</title>
    <link rel="stylesheet" href="/sign_up/css/style.css" />
    <script type="text/javascript" src="/sign_up/js/phone_varify1.js" ></script>
    <script type="text/javascript" src="/sign_up/js/jquery.min.js" ></script>
    <script src="/sign_up/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/sign_up/css/sweetalert.css">
</head>
<body>
<section class="container">
    <article class="half">
        <h1>注册hr</h1>

        <div class="content">
            <div class="signup-cont cont">
                <form >

                    <input type="tel" name="tel" id="tel" class="inpt" required="" placeholder="请输入您的手机号" maxlength="11">
                    <input type="password" name="psw" id="password" class="inpt" required="required" placeholder="请设置密码">
                    <img src="../sign_up/img/closeeye.jpg" id="show_pass" onclick="showPass();"/>
     
                    <div class="submit-wrap">
                        <input type="button" value="下一步" class="submit" id ="submit"  onclick="phone_varify_send()">
                        <!--<button value="varify" id="submit_form" class="submit" onclick="phone_varify_code()">SIgn up</button>-->
                        <a href="" >Design By DuanPin</a>
                    </div>
                </form>
            </div>
        </div>
    </article>
    <div class="half bg">


    </div>
</section>

</body>
</html>
