<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>网站名称</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="../js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <script src="../js/bootstrap.js"></script>

    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/user-center.css"/>
    <link rel="stylesheet" type="text/css" href="../icon/iconfont.css"/>

    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    <script src="../js/vue.min.js"></script>

</head>
<body>
<div class="wrap">
    <div class="header">

        <div class="container row" id="header-vue-bind-div">
            <a class="logo"></a>
            <ul class="nav col-lg-8">
                <!--<li class="address">全国</li>-->
                <li class="nav_li"><a class="nav_item" href="./index">首页</a></li>
                <li class="nav_li"><a class="nav_item" href="./searchlist?keyword=">职业者搜索</a></li>
                <li class="nav_li"><a class="nav_item" href="https://www.xiaoyuanzhao.com/">2018校招</a></li>
                <li class="nav_li"><a class="nav_item" href="https://www.kongzhongtalk.com/">空中宣讲</a></li>
                <li class="nav_li current"><a class="nav_item" href="/user/info?type=person">我的</a></li>
            </ul>

            <ul class="clear_fix col-lg-2  " v-if="type===null">
                <li><a class="clear_fix_item login" href="/user/login">登录</a></li>
                <li><a class="clear_fix_item register" href="/register">注册</a></li>
            </ul>

            <ul class="clear_fix col-lg-2 " v-else-if="type==='user'">
                <li><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3803332007,2672307128&fm=58" alt=""
                         class="img-circle" style="width: 48px;height: 48px"></li>
                <li>

                    <div class="dropdown">
                        <a id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <h6 id="nick">{{person.user.nickname}}</h6>
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="/user/info">个人中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">注销</a></li>
                        </ul>
                    </div>

                </li>
            </ul>
            <ul class="clear_fix col-lg-2 " v-if="type==='hr'">
                <li><img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3803332007,2672307128&fm=58" alt=""
                         class="img-circle" style="width: 48px;height: 48px"></li>
                <li>


                    <div class="dropdown">
                        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <h6>{{person.hr.name}}</h6>
                            <span class="caret"></span>
                        </a>


                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                     
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">注销</a></li>
                        </ul>
                    </div>

                </li>
            </ul>

        </div>
        <!--script-->
        <script>
            var header = new Vue({
                el: '#header-vue-bind-div',
                data: {
                    type: null,
                    person: {
                        user: null,
                        hr: null
                    }

                }
            });
        </script>
    </div>

    <hr/>


    <div class="main container" id="vue-dom">
        <div class="page-header row">
            <h2 class="col-lg-6 ">{{navText}}
                <!--<small id="nick_clone"></small>-->
            </h2>
        </div>
        <div class="nav-content col-lg-3">
            <div class="list-group">
                <a class="list-group-item" href="?type=person">个人资料</a>
                <a class="list-group-item" href="?type=resume">添加职位
                    <!--<span class="badge">0</span>-->
                </a>
                <a class="list-group-item" href="?type=collection">职位管理<span class="badge">{{collections.length}}</span></a>
                <a class="list-group-item" href="?type=box">收件箱<span class="badge">{{boxs.length}}</span></a>
                <a class="list-group-item" href="?type=renwu">进行的任务<span class="badge">{{works.length}}</span></a>
            </div>

            <div class="thumbnail">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1510069084770&di=039cecda74d59029496cb5459a6e64e8&imgtype=0&src=http%3A%2F%2Fdown.cnshu.cn%2F2013%2Fcnshu_images%2Fchenchunhong%2F201310070942.png"
                     alt="...">
                <div class="caption">
                    <h3>广告位</h3>
                    <p>抖音关注影视会馆，你想看的这里都有,西瓜视频关注我叫下划线，看大四狗一步一步的创业之路</p>
                    <p><a href="" class="btn btn-primary" role="button">查看</a> <a href="" class="btn btn-default"
                                                                                   role="button">关闭</a></p>
                </div>
            </div>
        </div>
        <div class="main_content" id="main-content">

            <div class="person-content right-content" v-if="type==='person'">
                <form id="user_info" onsubmit="infoUpdate()">
                    <div class="container">

                        <div class="line1">
                            <div class=" col-lg-4 l">
                                <div class=" row">
                                    <label for="tel" class="col-lg-4 col-lg-offset-1 lab">手机号码：</label>
                                    <fieldset disabled class="col-lg-6" id="fiel">
                                        <input type="number" class="form-control " id="tel" name="mobile"
                                               placeholder="手机号码" maxlength="11">
                                    </fieldset>
                                </div>
                            </div>
                            <div class=" col-lg-4 l">
                                <div class=" row">
                                    <label for="password" class="col-lg-4 col-lg-offset-1 lab">用户密码：</label>

                                    <input type="password" class="form-control col-lg-6 " id="password" name="password"
                                           required placeholder="密码重置">
                                </div>
                            </div>

                        </div>

                        <div class="line2">
                          

                            <div class=" col-lg-4 l">
                                <div class=" row">
                                    <label for="email" class="col-lg-4 col-lg-offset-1 lab">用户邮箱：</label>
                                    <input type="text" class="form-control col-lg-6 " id="email" name="email"
                                           placeholder="电子邮箱"/>
                                </div>
                            </div>
                        </div>

                        <div class="line2">
                            <div class=" col-lg-4 l">
                                <div class=" row">
                                    <label for="inputName" class="col-lg-4 col-lg-offset-1 lab">真实姓名：</label>
                                    <input type="text" class="form-control col-lg-6" id="inputName" name="name"
                                           placeholder="输入姓名">
                                </div>
                            </div>
                            <div class="col-lg-4 l">
                                <div class=" row">
                                    <label for="sex" class="col-lg-4  col-lg-offset-1 lab">真实性别：</label>
                                    <select class="form-control col-lg-6" id="sex" name="gender">
                                        <option>- - - 选择性别 - - -</option>
                                        <option value="男">男</option>
                                        <option value="女">女</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="line2">
                            <div class=" col-lg-4 l">
                               
                            </div>
                            <div class="col-lg-4 l">
                    
                            </div>
                        </div>
                        <div class="line3">
                            

                        </div>
                        <div class="line4">
                            <div class=" col-lg-4 l">
                               
                            </div>

                            <div class=" col-lg-4 l">
                                <div class=" row">
                                    <label for="school" class="col-lg-4 col-lg-offset-1 lab">家庭地址：</label>
                                    <input type="text" class="form-control col-lg-6" id="school" name="graduation"
                                           placeholder="详细地址">
                                </div>
                            </div>
                            <div class=" col-lg-4 l">
                               
                            </div>
                            <div class=" col-lg-4 l">
                                
                            </div>

                            <div class=" col-lg-4 l" style="visibility: hidden;height: 39px;"></div>

                         
                            <div class=" col-lg-4 l">
                                <div class=" row">
                                    <div class="btn-sm col-lg-5"></div>
                                    <a class="btn btn-primary col-lg-6 " href="" role="button" data-toggle="modal"
                                       data-target="#myModal">保存</a>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">确认框</h3>
                                </div>
                                <div class="modal-body">
                                    <p>您真的要更改信息么？</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    <button type="submit" class="btn btn-primary" id="info_submit">确认</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </form>
            </div>

            <div class="collection-content right-content" v-if="type==='collection'">
                <div class="container collection-container">
                    <table class="table table-striped table-hover">
                        <tr>
                            <th>#</th>
                            <th>标号</th>
                            <th>职位</th>
                            <th>工作地点</th>
                            <th>薪水</th>
                            <th>要求</th>
                            <th></th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="(collection,index) in collections" class="collection-item">
                            <td>{{index}}</td>
                            <td>{{collection.positionId}}</td>
                            <td>{{collection.title}}</td>
                            <td>{{collection.workCity}}</td>
                            <td>{{collection.salary}}</td>
                            <td>{{collection.requirement}}</td>
                            <td>
                                <input type="hidden" id="posId" v-bind:value ="collection.positionId"/>
                            </td>
                            <td>
                           
                                <button id="posReview" type="button" class="btn btn-info btn-sm" >
                                    <a v-bind:href="'http://127.0.0.1:8080/position/'+collection.positionId"> 查看职位</a>
                                </button>
                                <button id="posRemove" type="button" class="btn btn-danger btn-sm" >
                                <a v-bind:href="'http://127.0.0.1:8080/hr/disfavor/'+collection.positionId"> 移除</a>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="resume-content right-content" v-if="type==='resume'">

                <form action="/hr/create" method="post" role="form" style="width:75%;float:right;">
                    <div class="form-group">
                        <label for="title">工作名称:</label>
                      
                                    <select class="form-control col-lg-6" id="title" name="title"
                                            :value="selectCategory.categoryId" v-model="selectCategory.categoryId">
                                        <option v-for="category in categories" :value="category.categoryId">
                                            {{category.categoryName}}
                                        </option>
                                    </select>
                       
                    </div>
                    <div class="form-group">
                        <label for="quantity">数量:</label>
                        <textarea id="quantity" name="quantity" class="form-control" rows="3"
                                  style="resize: none"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="requirement">工作要求:</label>
                        <textarea id="requirement" name="requirement" class="form-control" rows="3"
                                  style="resize: none"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="workCity">工作地点</label>
                        <textarea id="workCity" name="workCity" class="form-control" rows="3"
                                  style="resize: none"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="salaryDown">最低工资:</label>
                        <textarea id="salaryDown" name="salaryDown" class="form-control" rows="3"
                                  style="resize: none"></textarea>
                    </div>

                    <button type="submit" class="btn btn-success" style="float:right">确认发布</button>
                </form>

            </div>

            <div class="box-content right-content" v-if="type==='box'">
                <div class="container box-container">
                    <table class="table table-striped table-hover" id = "test">
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>学历</th>
                            <th>工作地</th>
                            <th>手机</th>
                            <th>申请的职位</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="(box,index) in boxs" class="" :class="box.state">
                            <td>{{index}}</td>
                            <td>{{box.name}}</td>
                            <td>{{box.graduation}}</td>
                            <td>{{box.city}}</td>
                            <td>{{box.mobile}}</td>
                            <td>{{box.title}}</td>
                             <td style="display:none">
                                {{box.id}}
                            </td>
                            <td style="display:none">
                                {{box.workid}}
                            </td>
                           <td>
                                <button id="posReview" type="button" class="btn btn-info btn-sm">
                               		   <a v-bind:href="'http://127.0.0.1:8080/position1/'+box.id"> 查看</a> 
                                </button>
                                <button id="posRemove" type="button" class="btn btn-danger btn-sm"
                                        onclick="posRemove(this)">拒绝
                                </button>
                                <button id="posAgree" type="button" class="btn btn-success btn-sm"
                                        onclick="posAgree(this)">同意
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
              <div class="person-content right-content" v-if="type==='renwu'">
              <div class="container box-container">
                    <table class="table table-striped table-hover" id = "test">
                        <tr>
                            <th>#</th>
                            <th>姓名</th>
                            <th>学历</th>
                            <th>工作地</th>
                            <th>手机</th>
                            <th>职位  </th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="(work,index) in works" class="" :class="work.state">
                            <td>{{index}}</td>
                            <td>{{work.name}}</td>
                            <td>{{work.graduation}}</td>
                            <td>{{work.city}}</td>
                            <td>{{work.mobile}}</td>
                            <td>{{work.title}}</td>
                             <td style="display:none">
                                {{work.id}}
                            </td>
                            <td style="display:none">
                                {{work.workid}}
                            </td>
                           <td>
                                <button id="posRemove" type="button" class="btn btn-danger btn-sm"
                                        onclick="posSee(this)">查看进度
                                </button>
                                <button id="posAgree" type="button" class="btn btn-success btn-sm"
                                        onclick="posEnd(this)">结束评价
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
              </div>
        </div>

    </div>
    <script src="/js/user_info1.js"></script>
</div>
</body>
</html>